header h1 {
    text-align: center;
    float: left;
    width: 250px;
}

header nav p {
    float: left;
    width: 100px;
    font-size: large;
    margin: 30px;
}

header {
    height: 90px;
    border: 1px solid silver;
    margin: 30px;
    background-color: #FFA07A;
    border-radius: 25px;
}

aside {
    float: left;
    width: 200px;
    border: 1px solid silver;
    margin: 30px;
    background-color: #FFA07A;
    border-radius: 25px;
}

aside h2 {
    text-align: center;
}

main {
    float: left;
    margin: 30px;
    border: 1px solid silver;
    background-color: #FFA07A;
    border-radius: 25px;
}

main h1 {
    text-align: center;
}

footer {
    margin: 30px;
    border: 1px solid silver;
    background-color: #FFA07A;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
}

footer p {
    float: left;
    width: 150px;
}

body {
    font-family: sans-serif;
    background-color: #00bfff;
    word-wrap: break-word;
}